/*body{
  background-image: image("./css/metalCoins.png");
  background-repeat: repeat;
}*/

.crypto_intro{
  border: 4px solid #f95d02;
  background-color: #4c1813;
  border-radius: 10px;
}

#blog{

}

#podcast{
  
}
